.menu_toggle.click{
    .bar1{transform: translateY(5px) rotate(45deg);}
    .bar2{transform: translateY(-4px) rotate(-45deg);}
    .bar3{display: none;}
}
.menu_toggle{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.bar1, .bar2, .bar3{
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #333;
    transition: .4s;
}
nav{
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 2px 2px 10px #666;
    background-color: #fff;
}
.nav_bg{
    width: 100%;
    position: relative;
}
nav .container{width: 100%;}
.nav_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
}
.navlinks {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    transition: all .3s;
}
.navlinks.open {display: flex;}
.navlinks a.active {color: #0e6caa;}
.navlinks a:hover {
    background-color: #bde5ff;
}
.navlinks a {
    font: 500 1rem "Roboto", sans-serif;
    width: 100%;
    color: #333;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-radius: 20px;
    white-space: nowrap;
}

.fa-earth-americas {
    font-size: 2.2rem;
    color: #0e6caa;
    cursor: pointer;
    transition: all 0.4s ease;
    border-radius: 50%;
}

.fa-earth-americas:hover {
    transform: rotate(90deg) scale(1.1);
}

@media(min-width: 768px) {
    .menu_toggle{display: none;}
    nav .container{
        max-width: 1250px;
        margin: auto;
        padding: 0;
    }
    .nav_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }
    .toggle_box{display: none;}

    .navlinks {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 10px;
        width: fit-content;
        height: fit-content;
    }

    .navlinks a {
        width: fit-content;
    }
}