nav .container{
    width: 100%;
}
.nav_content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
}
.navlinks {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    transition: all .3s;
}
.navlinks a {
    width: 100%;
    color: #333;
    padding: 10px;
    transition: all 0.3s ease;
}

.fa-earth-americas {
    font-size: 2.2rem;
    color: #0e6caa;
    cursor: pointer;
    transition: all 0.4s ease;
    padding: 0.5rem;
    border-radius: 50%;
}

.fa-earth-americas:hover {
    transform: rotate(90deg) scale(1.1);
}

@media(min-width: 768px) {
    .nav_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .toggle_box{display: none;}

    .navlinks {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: fit-content;
        height: fit-content;
    }

    .navlinks a {
        width: fit-content;
    }
}